// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
main{
    background-color: #141821;
    display:flex;
    min-height:100vh;
    justify-content:center;
    align-items:center;
    color: #7C4902;
    flex-direction:column;
}
.train-table {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 2rem 2rem 2rem 2rem;
    background-color: #080504;
    border: 1px solid #7B796C;
}
.train-head{
    padding: 2rem 2rem;
    font-size:1rem;
    border-bottom: 1px solid #7B796C;
}
.train-head-cell{
    color: #7C4902;
    padding: 0.5rem 0.5rem;
    text-align: center;
    border-right: 1px solid #7B796C;
}
.train-row{
    border-bottom: 1px solid #7B796C;
}
.train-cell{
    color: white;
    padding: 0.5rem 0.5rem;
    text-align:center;
    border-right: 1px solid #7B796C;
}